<h1>Merritt - Ingest Workspace Service</h1>
<div>

<h2>Sample Object Listing</h2>
<p>This page will display sample objects / top level prefixes to help identify the keys within the bucket.</p>

<% if @objlist %>
  <h3>Top Level Objects</h2>
  <ul>
    <% @objlist.each do |k| %>
      <li><%= k[:key] %></li>
    <% end %>
  </ul>
<% end %>

<% if @prefixes %>
  <h3>Top Level Prefixes</h2>
  <ul>
    <% @prefixes.values.each do |k| %>
      <li><%= k[:key] %></li>
    <% end %>
  </ul>
<% end %>
</div>
