<h1>Merritt - Ingest Workspace Service</h1>

<div id="body">
<div>
<form method="POST">
  <input type="submit" value="List"/>
</form>
</div>

<div id="manifest">
<h2>Manifest</h2>
<textarea rows=15 cols=80><%=@data%></textarea>
</div>
</div>